<div>
   
    <input type="button" data-ng-click="filterEvents('')" value="All" />
    <input type="button" data-ng-click="filterEvents('Order')" value="Orders"  />
    <input type="button" data-ng-click="filterEvents('Delivery')" value="Delivery"  />
    
    <ul>
        <li data-ng-repeat="event in FDAs | filter:searchTerms" class="{{ event.Type }}">
            {{event.ManagerOrganisationId}} - {{ event.ManagerOrganisationName }}, {{ event.AircraftCount }}, {{ event.EngineType }}
            <fleetalertdate eventdate="{{ event.EventDate }}" />
        </li>
    </ul>
</div>